
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  overflow: hidden !important;
}



/*********************************************************************************************************************************
input type='checkbox' em formato de switcher , seletor de idioma 
*********************************************************************************************************************************/

.switch_language {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 5px;
    margin-top: 1px;
}

.switch_language input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_language {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: solid 1px transparent;
}

.slider_language:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white; /* cor da bolinha */
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

input:checked + .slider_language {
    background-color: lightgray;
}

input:focus + .slider_language {
    box-shadow: 0 0 1px yellow;
}

input:checked + .slider_language:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.slider_language.round {
    border-radius: 30px;
    height: 30px;
}

.slider_language.round:before {
    border-radius: 50%;
}
/*********************************************************************************************************************************
*********************************************************************************************************************************/

#root {
 height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;;
  flex:1;
  background-color: white;
}

.Content {
  display: flex;
  flex-direction: row;
  width:100vw;
  height:100vh;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  height:100%;
  background-color: #2E2E2E;
  color: lightgray;
}

.Main {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  flex:1;  
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 110px;
/*
  background-color: #88B9EB;*/
  background-color: white;
  color: black;
  border-bottom: solid 1px gray;
}

.Datatable {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  padding:20px;
}

.ItemMenu {
font-size: '20px';
display:flex;
width:100%;
justify-content: start;
padding-left: 20px;
height:40px;
margin-top:10px;
align-items: center;
align-content: center;
}
.ItemMenu:hover {
font-size: '20px';
cursor:pointer;
background-color: #4D4D4D;
}

.logoReact {
display: flex;
flex-direction: column;
align-items: center;
width:100%;
color: #50B7D2;
border-bottom: solid 1px gray;
height:110px;
justify-content: space-around;
}

/* bandeira país/idioma selecionado escolhida */
.flagClicked {
    background-color: #d6e5fc;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    display: flex;
    justify-content: center;
}

.countrySelect {
display: flex;
flex-direction: row;
flex-basis: 33%;
flex:1;
justify-content: end;
gap: 10px;
}

.flagUnclicked {
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    display: flex;
    justify-content: center;
}
.flagUnclicked:hover {
    background-color: lightgray;
}

.stackSelector {
@apply flex flex-col items-start basis-[33%] grow h-full 
}

.stackType {
height: 35px;
font-weight: bold;
display: flex;
align-items: center;

}

.stackItem {
display:flex;
flex-direction: row;
justify-content: space-between;
gap:10px;
align-items: center;
width:70%;
padding-left: 15px;
padding-right: 15px;
height:35px;
}
.stackItem:hover {
cursor: pointer;
border-radius: 5px;
background-color: lightgray;
}
.stackItemClicked {
background-color: #d6e5fc;
border-radius: 5px;
display:flex;
flex-direction: row;
justify-content: space-between;
gap:10px;
align-items: center;
width:70%;
height:35px;
padding-left: 15px;
padding-right: 15px;
cursor:pointer;
}

.gitIcon {
display:flex;
border: solid 1px transparent;
width: 30%;
justify-content: center;
align-content: center;
}


.gitIcon:hover {
border: solid 1px gray; 
border-radius: 5px;
display:flex;
}

.backdropTransparent {
position: absolute;
background-color: transparent;
left: 0;
top: 0;
  overflow: visible;
width: 100%;
height: 100%;
z-index: 8001;
display: flex;
justify-content: center;
align-items: center;
}

.backdropGray {
position: absolute;
  overflow: visible;
background-color: rgba(0,0,0,0.2);
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: 8001;
display: flex;
justify-content: center;
align-items: center;
}


#divLoading {
    width: 120px;
    height: 70px;
    position: fixed;
    z-index: 1020999;
    background: rgba(100, 149, 237, 0.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 29px;
}

.CrudButtons {
height:80px;
display: flex;
justify-content: space-between;
}

.CrudButton {
background-color: #ECECEC;
color:black;
width:auto;
height:30px;
display: flex;
justify-content: space-between;
cursor:pointer;
align-items: center;
border-radius: 5px;
border: solid 1px lightgray;
font-size:12px;
}
.CrudButton:hover {
background-color:  #d6e5fc;
}

.searchBox {
height:90%;
width:100%;
background-color: transparent;
padding-left: 20px;
border: none;
}

.searchBox:hover {
background-color:  transparent;
border: none;
cursor:pointer;
}
.searchBox:focus {
background-color: transparent;
outline:none;
}

.magnifyingSearch {
display: flex;
justify-content: center;
width: 70px;
height: 100%; 
border-left: solid 1px gray; 
}
.magnifyingSearch:hover {
background-color:  #FFC266
}

.DatatableHeader {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  color: white;
  height: 40px;
  align-items: center;
  padding-left:10px;
}

.DatatableRows {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  color: black;
  height: 60px;
  align-items: center;
}

.DatatableRow {
  display: flex;
  flex-direction: row;
  width:100%;
  cursor: pointer;
  height: 60px;
}
.DatatableRow:hover {
background-color:  #FFC266
}
.DatatableTitle {
height: 80px;
font-size: 25px  ;
display: flex;
flex-direction: row;
justify-content: space-between;
justify-items: center;
 align-items: center;
padding-left:10px;
}

.actionColumn {
display: flex;
flex-direction: row;
padding-left: 5px;
justify-content: space-between;
align-items: center;
}
.actionIcon { 
border: solid 1px transparent;
display: flex;
justify-content: center;
align-items: center;
height:100%;
flex:1;
height: 60px;
}
.actionIcon:hover { 
border: solid 1px navy;
}

.crudForm {
@apply w-auto h-auto border-[1px] border-gray-600 rounded-sm bg-white flex;
}

/* searchBox => textbox to search  , magnifying icon at the right corner */
.txtTABLE_SEARCHBOX {
    /* magnifying-icon is defined in tailwind.config.js */
    @apply cursor-pointer w-[400px] box-border border-2 border-gray-400 hover:border-black rounded-md bg-transparent bg-no-repeat 
        bg-position-right-corner-icon p-searchbox bg-icon-magnifying h-9;
}

.txtTABLE_SEARCHBOX:focus {
    @apply bg-[#ebf6f9]; 
}


/* prettier tooltip to highlight buttons */
.prettierTitle_black {
    background-color: #333333 !important;
    border-color: #333333 !important ;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    color: white !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 13px !important;
    line-height: 15px !important;
    white-space: nowrap !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    position: relative !important;
    display: inline-block !important;
    z-index: 1000004 !important;
}


/****************************************************************************
buttons
****************************************************************************/
button.btnCANCEL {
    @apply bg-gray-300 border-transparent border-[1px] text-black  text-center h-[30px] cursor-pointer w-[150px] hover:border-black
 bg-icon-button-cancel  bg-auto bg-no-repeat  bg-position-left-corner-icon  pt-[2px] rounded-[6px];
}


button.btnSAVE {
    /* icon-button-save is defined in tailwind.config.js */
    @apply bg-blue-500 border-transparent border-[1px] text-white  text-center h-[30px] cursor-pointer w-[170px] hover:border-red-950
 bg-icon-button-save  bg-auto bg-no-repeat  bg-position-left-corner-icon  pt-[2px] pl-9 rounded-[6px];
}

button.btnUPLOAD {
    /* icon-button-upload is defined in tailwind.config.js */
    @apply bg-gray-300 border-transparent border-[1px] text-black  text-center h-[30px] cursor-pointer w-[170px] hover:border-black
 bg-icon-button-upload  bg-auto bg-no-repeat  bg-position-left-corner-icon  pt-[2px] pl-9 rounded-[6px];
}

button.btnDELETE {
    /* icon-button-delete is defined in tailwind.config.js */
    @apply bg-red-500 border-transparent border-[1px] text-white  text-center h-[30px] cursor-pointer w-auto  hover:border-red-950
 bg-icon-button-delete  bg-auto bg-no-repeat  bg-position-left-corner-icon  pt-[2px] pl-9 rounded-[6px] px-[20px] min-w-[150px];
}

.btnTABLE_NEW_RECORD {
    /* icon-new-record is defined in tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-white  rounded-md bg-transparent bg-no-repeat 
        bg-icon-new-record  bg-center hover:border-gray-500 h-9 ;
}

.btnTABLE_ONLY_ACTIVE_RECORDS_ON {
  /* ON= with border */
  /* icon-only-active-records is defined in tailwind.config.js */
  @apply cursor-pointer w-[70px] box-border border-2 border-gray-500  rounded-md bg-transparent bg-no-repeat 
      bg-icon-only-active-records  bg-center hover:border-gray-500 h-9;
}
/* OFF= without border */
.btnTABLE_ONLY_ACTIVE_RECORDS_OFF {
    /* icon-only-active-records is defined in  tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-white  rounded-md bg-transparent bg-no-repeat 
        bg-icon-only-active-records   bg-center hover:border-gray-500 h-9 ;
}

.btnTABLE_ONLY_INACTIVE_RECORDS_ON {
    /* ON= with borders */
    /* icon-only-inactive-records is defined in  tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-gray-500  rounded-md bg-transparent bg-no-repeat 
        bg-icon-only-inactive-records  bg-center hover:border-gray-500  h-9;
}
/* OFF= without borders */
.btnTABLE_ONLY_INACTIVE_RECORDS_OFF {
    /* icon-only-inactive-records is defined in tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-white  rounded-md bg-transparent bg-no-repeat 
        bg-icon-only-inactive-records  bg-center hover:border-gray-500 h-9 ;
}


/* div (when active) resets the datatable searchbox filter if clicked */
.btnTABLE_CANCEL_FILTER_ACTIVE {
    /* icon-filter-cancel-active é definido em tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-transparent  rounded-md bg-transparent bg-no-repeat 
        bg-icon-filter-cancel-active  bg-contain bg-center hover:border-gray-500 h-9;
}

/* div (when active) resets the datatable searchbox filter if clicked */
.btnTABLE_CANCEL_FILTER_INACTIVE {
    /* icon-filter-cancel-inactive é definido em tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-transparent  rounded-md bg-transparent bg-no-repeat 
        bg-icon-filter-cancel-inactive  bg-contain bg-center  h-9;
}



/****************************************************************************
 input type text
****************************************************************************/
input[type="text"].text_formFieldValue {
    font-size: 1em;
    vertical-align: middle;
    border-top: 1px solid rgb(146, 186, 167);
    border-bottom: 1px solid rgb(146, 186, 167);
    border-left: 1px solid rgb(146, 186, 167);
    border-right: 1px solid rgb(146, 186, 167);
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    margin-top: 2px;
    padding-left: 5px;
    color: black;
    width: 100%;
    line-height: 25px;
}
input[type="text"].text_formFieldValue:hover {
    border-color: green;
    background-color: #e6e6ff;
}
input[type="text"].text_formFieldValue:focus {
    background-color: #ffffcc;
    border-color: green;
}

/****************************************************************************
****************************************************************************/
#divWINDOW_TOP {
    @apply flex flex-row w-full h-[40px] bg-gray-300 leading-10 items-center justify-between cursor-pointer rounded-t-lg;
}

.divWINDOW_BUTTON {
    font-size: 1.3em;
    cursor: pointer;
    color: black;
}
.divWINDOW_BUTTON:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#divWINDOW_DRAG {
    @apply bg-icon-div-draggable w-7 bg-transparent bg-no-repeat bg-contain bg-center mr-6  text-gray-700;
}


/* modal form title */
#divWINDOW_TITLE {
    font-size: 1.2em;
    color: black;
    margin-left: 20px;
}

#messagesSlidingDiv {
    position: absolute;
    height: 70px;
    line-height: 70px;
    z-index: 10000;
    left: 4%;
    display: none;
    text-align: center;
    bottom: 25px;
    margin: auto;
    background-color: #ffebeb;
    border-color: #b40000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #c40000;
    font-size: 1.3em;
    width: 90%;
}


/* puppy icon, bottom right corner */
div._doggy {
  bottom: 5px;
  right: 5px;
  z-index: 11;
  position: fixed;
  width: 65px;
  height: 40px;
  float: right;
  cursor: pointer;
  background: url('http://ec2-54-233-183-5.sa-east-1.compute.amazonaws.com/images/_dog.png') no-repeat top left;
}


div._doggy_1 {
  bottom: 1px;
  display: none;
  right: 80px;
  z-index: 2000;
  position: fixed;
  width: 16px;
  height: 16px;
  float: right;
  background: url('http://ec2-54-233-183-5.sa-east-1.compute.amazonaws.com/images/thought_1.png') no-repeat top left;
}

div._doggy_2 {
  bottom: 1px;
  display: none;
  right: 80px;
  z-index: 2000;
  position: fixed;
  width: 30px;
  height: 30px;
  float: right;
  background: url('http://ec2-54-233-183-5.sa-east-1.compute.amazonaws.com/images/thought_2.png') no-repeat top left;
}

div._doggy_3_portuguese {
  display: none;
  bottom: -100px;
  right: 80px;
  z-index: 2001;
  position: absolute;
  background-color: red;
  width: 342px;
  height: 133px;
  background: url('http://ec2-54-233-183-5.sa-east-1.compute.amazonaws.com/images/thought_3.png') no-repeat top left;
  float: right;
}

div._doggy_3_english {
  display: none;
  bottom: -100px;
  right: 80px;
  z-index: 2001;
  position: absolute;
  background-color: red;
  width: 342px;
  height: 133px;
  background: url('http://ec2-54-233-183-5.sa-east-1.compute.amazonaws.com/images/thought_3_english.png') no-repeat top left;
  float: right;
}

.DatatableRow {
    @apply flex flex-row w-full cursor-pointer items-center hover:bg-[#ffedcc] leading-[60px] ;
}

/* selected= qdo usuario clicar na divTR, coloca em cor diferente e coloca sua respectiva coluna 'checkbox' como marcada */
.DatatableRow_selected {
    @apply flex flex-row w-full cursor-pointer items-center bg-[#FFC266] hover:bg-[#FFC266];
}

/* divTD_NOT_CLICKABLE nao possui borda que destaca, para que usuario nao tente clicar */
.divTD_NOT_CLICKABLE {
    @apply border-[1px] border-transparent h-full items-center flex p-2 hover:border-[1px] hover:border-transparent truncate;
}

.actionIconNull { 
border: solid 1px transparent;
display: flex;
height:100%;
flex:1;
}


